<app-navbar></app-navbar>
<div class="container">
    <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label style="font-size:larger" for="" class="form-label"style="color: #dc3545;">Product Name</label>
                    <input name="name" [(ngModel)]="name"  type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button (click)="readValues()" type="button" class="btn btn-outline-success">Search</button>
                </div>
            </div>
            <div class="row"*ngFor="let j of searchData">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form label">Product Name</label>
                    <input type="text" class="form-control"value="{{j.name}}">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form label">Image</label>
                    <input type="text" class="form-control"value="{{j.image}}">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form label">Category</label>
                    <input type="text" class="form-control"value="{{j.category}}">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form label">Description</label>
                    <input type="text" class="form-control"value="{{j.description}}">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form label">Price</label>
                    <input type="text" class="form-control"value="{{j.price}}">
                </div>
            </div>
        </div>
    </div>
</div>

